@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    max-width: 800px;
}

#title {
    background: yellow;
    padding: 20px 50px;
    margin: 20px 100px;
}

#subtitle {
    background: black;
    color: white;
    padding: 0px 50px;
    margin: 20px 100px;
    margin-bottom: 50px;
}
.topic {
    background-color: lightgray;
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}
body {
    padding: 50px;
}

