@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    padding: 20px 50px;
    margin: 20px 150px;
}

#subtitle {
    background: black;
    color: white;
    padding: 1px 50px;
    margin: 20px 150px;
    margin-bottom: 70px;
}

.topic {
    background: lightgray;
    display: inline;
    margin: 50px;
}

