@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    max-width: 800px;
}

#title {
    background: yellow;
    padding: 20px 50px;
    margin: 20px 100px;
}

#subtitle {
    background: black;
    color: white;
    padding: 0px 50px;
    margin: 20px 100px;
}

.topic {
    padding: 50px;
    border: 1px solid white; 
    display: flex; 
    justify-content: space-around;
}
#topic-color {
    background-color: lightgray;
}
